/* Custom Styles */
body {
  background-color: #3f722b;
  font-family: Roboto;
}
.margin-bottom {
	margin-bottom: 2.5em;
}

h1 {
  font-weight: 300;
  color: #FFF;
  font-size: 24px;
  margin-left:100px;
}

.searchOutput{
  z-index: 1;
  position: absolute;
  left: 88px;

  margin-top: 10px;
  margin-left: 12px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

.searchOutputTitle{
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 18px;
  color: #3f722b;
}

.searchOutput ul {
  padding-left: 10px;
}

.searchOutput ul li{
  list-style-type: none;
  margin-right: 10px;
  padding: 10px;
}

.searchOutput ul li:hover{
  background-color: #d5ddd3;
  cursor: pointer;
}



/* Google Maps Styles */
html, body {
	height: 95%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 100px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

form {
  margin-bottom: 20px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
	width: 345px;
}
